@page "/fetchdata"
@using MyApp.Module.Application.Shared.Assunto.Coisar
@inject HttpClient Http
@inject ICoisarAssuntoHandler CoisaAssuntoHandler

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (_response != null)
{
    <div>
        @_response.Campo1
    </div>
    <div>
        @_response.Campo2
    </div>
}
else
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}
@code {
    private CoisarAssuntoResponse? _response;
    protected override async Task OnInitializedAsync()
    {
        _response = await CoisaAssuntoHandler.Post(new CoisarAssuntoRequest("", ""));
    }
}
